<template name="menu">
  
  <!-- THE MENU -->
  <section id="the-menu" class="the-menu section">
    <div class="tabs-menu tabs-page">
      <div class="container">
        <ul class="nav-tabs text-center" role="tablist">
          <li class="active"><a href="#breakfast" role="tab" data-toggle="tab">Breakfast</a></li>
          <li><a href="#lunch" role="tab" data-toggle="tab">Lunch</a></li>
          <li><a href="#dinner" role="tab" data-toggle="tab">Dinner</a></li>
          <li><a href="#dessert" role="tab" data-toggle="tab">Dessert</a></li>
          <li><a href="#drink" role="tab" data-toggle="tab">Drink</a></li>
        </ul>
      </div>
    </div>
    <div class="section-content">
      <div class="container">
        <div class="tab-menu-content tab-content"> 
          <!-- BREAKFAST -->
            {{> breakFast}}
          <!-- END / BREAKFAST --> 
            
          
          <!-- LUNCH -->
            {{> lunch}}
          <!-- END / LUNCH --> 
          
          <!-- DINNER -->

            {{>dinner}}
             <!-- END / DINNER --> 
       
          <!-- DESSERT -->
          {{>desert}}
          <!-- END / DESSERT --> 
          
          <!-- DRINK -->
          {{> drink}}
          <!-- END / DRINK --> 
          
        </div>
      </div>
    </div>
  </section>
  <!-- END / THE MENU --> 

  </template>