 <template name="footer">
  <!-- FOOTER -->
  <footer id="footer" class="footer">
    <div class="divider divider-1 divider-color"></div>
    <div class="awe-color"></div>
    <div class="container">
      <div class="row"> 
        <!--   <div class="copyright text-center"> © 2014 Dosa Express </div>-->
        
        <div class="address col-xs-6"> 123 Pike Place Market,<br>
          Seattle WA 98002<br>
          <a href="tel:+1-206-345-6789" class="phone">(206) 345 6789</a> </div>
        <div class="pull-right col-xs-6" align="right">
          <div class="head-social"> <a href="#"><i class="fa fa-twitter fa-2x"></i></a> <br>
            <a href="#">@dosaexpress</a> </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- END / FOOTER --> 
  </template>  