<template name="header">
  <!-- HEADER -->
  <header id="header" class="header header-1">
    <div class="container"> 
      <!-- LOGO -->
      <div class="logo"><a href="#"><img src="temp/images/dosa/DosaBlack.png" alt=""></a></div>
      <!-- END / LOGO --> 
      
      <!-- OPEN MENU MOBILE -->
      <div class="open-menu-mobile"> <span>Toggle menu mobile</span> </div>
      <!-- END / OPEN MENU MOBILE --> 
      
      <!-- NAVIGATION -->
      <nav class="navigation text-right" data-menu-type="1200"> 
        <!-- NAV -->
        <ul class="nav text-uppercase">
          <!--                    <li class="menu-item-has-children">
                        <a href="#page-top">Home</a>
                        <ul class="sub-menu">
                            <li><a href="index-onepage.html">Onepage</a></li>
                            <li><a href="index.html">Multipage</a></li>
                            <li><a href="index-2.html">Multipage Full</a></li>
                        </ul>
                    </li>-->
          <li><a href="#">About</a></li>
          <li class="current-menu-item"><a href="#">Menu</a></li>
          <li><a href="#">Catering</a></li>
          <li><a href="#">Location</a></li>
          <!--                    <li class="menu-item-has-children">
                        <a href="#">Pages</a>
                        <ul class="sub-menu">
                            <li class="menu-item-has-children">
                                <a href="shop.html">Shop</a>
                                <ul class="sub-menu">
                                    <li><a href="shop.html">Shop page</a></li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="blog-sidebar.html">Blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-sidebar.html">Blog sidebar</a></li>
                                    <li><a href="blog-grid.html">Blog grid</a></li>
                                    <li><a href="blog-single.html">Blog single</a></li>
                                </ul>
                            </li>
                            <li><a href="shortcode.html">Shortcode</a></li>
                        </ul>
                    </li>-->
          <li><a href="#">Contact</a></li>
        </ul>
        <!-- END / NAV --> 
        
        <!-- MINICART -->
        <div class="minicart-wrap">
          <div class="toggle-minicart active"><span class="text-uppercase">order</span></div>
          <div class="minicart-body">
            <h4 class="xsm text-uppercase text-center">togo order</h4>
            <ul class="minicart-list">
              <li>
                <div class="product-thumb"> <img src="temp/images/shop/img-2.jpg" alt=""> </div>
                <div class="product-name"> <a href="#">Onion Ootappa</a> </div>
                <div class="qty-wrap"> <span class="product-quantity"> <span class="quantity">2</span> serves. </span> <span class="amount">$48</span> </div>
                <div class="product-remove"> <a href="#"><i class="icon awe_close"></i></a> </div>
              </li>
              <li>
                <div class="product-thumb"> <img src="temp/images/shop/img-2.jpg" alt=""> </div>
                <div class="product-name"> <a href="#">Panner Masala Dosa</a> </div>
                <div class="qty-wrap"> <span class="product-quantity"> <span class="quantity">2</span> serves. </span> <span class="amount">$48</span> </div>
                <div class="product-remove"> <a href="#"><i class="icon awe_close"></i></a> </div>
              </li>
            </ul>
            <div class="minicart-total"> Total <span class="amount pull-right">$120</span> </div>
            <div class="minicart-footer">
              <div class="product-name"> Your Phone Number:
                <input type="number" class="text-warning" id="Phone" value="Phone">
              </div>
              <br>
              <a href="#" class="awe-btn awe-btn-1 awe-btn-default text-uppercase">Place Order</a> </div>
          </div>
        </div>
        <!-- END / MINICART --> 
        
        <!-- SOCIAL -->
        <div class="head-social"> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-pinterest"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> </div>
        <!-- END / SOCIAL --> 
      <p></p><div class="logo visible-xs visible-sm img-responsive"> <img src="temp/images/dosa/DosaBigBlack.png"></div>
      </nav>
      <!-- END / NAVIGATION --> 
    </div>
  </header>
  <!-- END / HEADER --> 
  
  <!-- SUB BANNER -->
  <section class="sub-banner text-center section">
    <div class="awe-parallax bg-4"></div>
    <div class="awe-title awe-title-3">
      <h3 class="lg text-uppercase">DOSA EXPRESS</h3>
    </div>
  </section>
  <!-- END / SUB BANNER --> 

</template>  